  html { height: 100% }
  body { height: 100%; margin: 0px; padding: 0px; background-color: gray;}
  h1 {color:greenyellow;}
  h2 {color:skyblue;}
  img{width:200px;height:60px}
  #mapContent{
  overflow:hidden;
  height:100%;
  position:relative;
  }
  #map_canvas { 
  margin-top: 80px;
  border-left: 0px 
  solid #e9e9e9;
  overflow:hidden;
  height:100%;
  position:relative;
  }
  #header{
  width: 100%;
  height: 80px;
  background-color: #99bbbb;
  position: absolute;
  }
  #logo{
  float: left;
  margin-top: 10px;
  margin-left: 20px;
  width:150px;
  height:60px
  }
  div#menu{
  min-width:140px;
  float:left;
  border-right:0px solid #e9e9e9;
  overflow-y: scroll;
  height: 100%;
  background-color:#ffff99;
  }

  